<div class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>

		<div class="col-lg-9 diary_title">
			<div class="comment_name"><%= @event.user.name + "さんの日記" %></div>
			<%= image_tag @event.user.user_image_id.to_s, class: "user_image" %>
			<div class="comment_show"><%= @comment.comment %></div>
				<%= link_to "編集",  edit_event_comment_path, class: "btn btn-danger", style: "width: 120px; font-size:20px;" %>
		</div>
	</div>
</div>