<div class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>

		<div class="col-lg-9">
				<%= form_for(@group) do |f| %>
					<div class="event">
						<%= f.label "グループ名" %>
						<%= f.text_field :group_name %><br/>
					</div>

					<div class="mk_event submit">
					<%= f.submit "編集", class: "btn btn-primary", style: "width: 120px;"%>
					</div>
					<% end %>
		</div>
	</div>
</div>