<div class="container">
	<div class="row">
		<div class="col-lg-1">
		</div>

		<div class="col-lg-9 post_image">
			<h2 class ="post_image1">写真を投稿する</h2><br>
				<%= form_with url: event_photos_path(@event.id) do |f| %>
					<%= f.file_field :photo_image_id, class: "form8" %>
					<%= f.submit "編集完了", class: "form7 btn btn-primary"%>
				<% end %>
		</div>
	</div>
</div>