/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix{
	content: "";
	display: block;
	clear: both;
}

/* ヘッダーとフッター　*/

.alert-notice {
	background-color: #CCFFFF;
}

.flash {
  	float:left;
  	text-align: center;
	width: 100%;
	font-size: 20px;
}

header {
	width: 100%;
	height: 70px;
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.logo {
	margin: 3px 0 0 15px;
	height: 60px;
	width: 20%;
	background: url("logo.png") no-repeat;
	background-size: contain;
	position: absolute;
	top: 5px;
	left: 140px;
}

.header-list {
	margin-top: 20px;
	text-align: right;
}

.header-link {
	text-align: right;
	margin-left: 30px;
	font-size: 25px;
}

footer {
	width: 100%;
	height: 50px;
}

/* トップページに関する指定 */
.top {
	width: 100vw;
  	height: 100vh;
  	background: rgba(255,255,255,0.5);
	background-image: url("top.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.introduction {
	text-align: center;
	padding-top: 150px;
	width: 800px;
  	margin: auto;
}

.title {
	font-family: cursive;
	font-size: 120px;
}

.maegaki {
	margin-top: 20px;
	font-size: 20px;
}

.login {
	width: 300px;
	margin: 30px auto;
	font-size: 30px;
	background-color:rgba(230,228,221,0.7);
  	border-radius: 5px;
}

.field-set {
	text-align: center;
	font-size: 20px;
	margin: 100px;
}

.field {
	margin-top: 20px;
}

.sign_up {
	background: linear-gradient(transparent 50%, #99CCFF 50%);
	width: 120px;
    margin-left: 560px;
    font-weight: 600;
}

.note {
    font-size: 15px;
    float: left;
    margin-left: 150px;
    background-color:rgba(255,126,71,0.6);
  	border-radius: 5px;
}

/* 背景に関する指定 */
body {
	background-image: url("backgroud.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/* user詳細ページ */
.user_image {
	padding: 0 15px 0px 15px;
	margin: 20px 5px;
	width: 250px;
	height: 200px;
	object-fit: contain;
	background-color:rgba(82,62,75,0.2);
}

.edit_user {
	text-align: center;
}

.group {
	margin-top: 20px;
	text-align: center;
	background: linear-gradient(transparent 50%, #99CCFF 50%);
}

.group_title_list {
	text-align: center;
	font-size: 20px;
}

.calendar {
	text-align: center;
}

.previous {
	float: left;
	font-size: 15px;
}

.next {
	float: right;
	font-size: 15px;
}

.calendar-heading {
	text-align: center;
	font-size: 20px;
}

.calendar-title {
	margin-right: 28px;
}

.calendar_title {
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 0.25em 1em;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

.calendar_title:before, .calendar_title:after {
	content: '';
	position: absolute;
	top: -7px;
	width: 2px;
	  height: -webkit-calc(100% + 14px);
	height: calc(100% + 14px);
	background-color: black;
}

.calendar_title:before {left: 7px;}
.calendar_title:after {right: 7px;}


.edit_calendar {
	text-align: center;
}

.mk_group {
	text-align: center;
}

.group_buttom {
	margin: 50px;
}

/* イベント作成　*/

.event {
	margin: 100px 0 0 250px;
	font-size: 20px;
}

/* イベント詳細ページ */

.time {
	margin: 20px 0 0 270px;
	font-size: 20px;
}

.mk_event {
	margin: 20px 0 0 370px;
}

.event_title {
	text-align: center;
	font-size: 20px;
	font-weight: 900;
}

.edit_event {
	margin-top: 30px;
	margin-left: 70px;
}

.add_photo {
	margin-top: 70px;
	margin-left: 70px;
}

.open_album {
	margin-top: 10px;
	margin-left: 70px;
}

.add_comment {
	margin-top: 350px;
	margin-left: 70px;
}

.g_edit_event {
	margin-top: 30px;
	margin-left: 70px;
}

.back_buttom{
	margin-left: 50px;
}

.index {
	border-bottom: 3px solid #000000;
}

.index span {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	position: relative;
	background: #000000;
	display: inline-block;
	padding: 10px;
}

.index span:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-width: 0 10px 40px 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #000000;
}

.album_image {
    padding: 10px 0px 0px 15px;
    margin: 20px 0px;
    width: 437px;
    height: 330px;
}

.comment_icon {
	margin: 0 0 15px 35px;
	width: 60px;
	height: 60px;
}

.comment_list {
	font-size: 20px;
	margin-left: 15px;
}

/* 検索結果の画像サイズ */
.search_icon {
	padding: 10px 15px 0px 15px;
	margin: 20px 0px;
	width: 130px;
	height: 110px;
}

/* グループトップページ */

.icon {
	margin-left: 35px;
	width: 60px;
	height: 60px;
}

.group_user_name {
	padding-left: 20px;
	text-align: center;
	font-weight: 600;
}

.search-link {
	margin: 20px 0 0 60px;
}

.close {
	margin-left: 15px;
	font-size: 15px;
}

/* 入力フォーム　*/

.font {
	font-size: 20px;
}

.form {
	margin: 250px 0 50px 250px;
	font-size: 18px;
}

.form1 {
	width: 300px;
	margin: 10px -26px 0 100px;
	font-size: 20px;
}

.form2 {
	width: 300px;
	margin: 30px 0 0 30px;
	font-size: 20px;
}

.form3 {
	width: 300px;
	margin: 30px -18px 0 70px;
	font-size: 20px;
}

.form4 {
	margin-top: 50px;
	font-size: 20px;
}

.form5 {
	font-size: 20px;
}

.form6 {
	font-size: 20px;
	margin: 30px 0 0 270px;
}

.form7 {
	font-size: 20px;
	margin-top: 20px;
}

.form8 {
	font-size: 15px;
	margin: 300px 0 0 300px;
}

.edit_event_laber {
	font-size: 20px;
	margin: 0 20px 0 170px;
}


/* アルバム　*/

.delete {
	margin-top: 15px;
}

.post_image {
	text-align: center;
}

.post_image1 {
	width: 250px;
	margin: 50px 0 0 300px;
	background: linear-gradient(transparent 50%, #99CCFF 50%);
}

/* 日記 */

.diary_title {
	text-align: center;
	margin: 50px 0 0 0;
	font-size: 20px;
}

.comment_show {
	font-size: 20px;
	margin: 2em auto;
	padding: 1em;
	width: 90%; /* ボックス幅 */
	background-color: #EEFFFF; /* ボックス背景色 */
	color: #666; /* 文章色 */
	box-shadow: 0 0 5px 1px #c0c0c0; /* 影 */
	border-radius: 10px; /* 角の丸み */
}

.comment_name {
	font-weight: 600;
	margin-left: 325px;
	width: 200px;
	background: linear-gradient(transparent 50%, #99CCFF 50%);
}

.edit_group_event {
	margin: 100px;
}

/* 検索画面 */

.search_form {
	margin: 20px 0 0 30px;
	width: 300px;
}

.search_commit {
	padding: 10px 15px 0px 15px;
	margin: 20px 0 20px 250px;
	width: 130px;
	height: 110px;
}

.syoutai {
	margin-left: 15px;
}

.post_image2 {
	width: 600px;
	margin: 50px 0 0 120px;
	background: linear-gradient(transparent 50%, #99CCFF 50%);
}

.select_group {
	width: 500px;
	font-size: 20px;
}